<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Eat-Da-Burger</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
  <script src="https://code.jquery.com/jquery.js"></script>
</head>
<body>
    <div class="container">
        <section class="main">
            <h1 class="text-center" id="title">Eat-Da-Burger</h1>
            <img id="burger-image" src="/assets/img/burger.jpg" alt="burger image" />
            
        </section>
    </div>
    {{{ body }}}


</body>
</html>